@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Mulish';
  }
  
  #card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    min-width: 100vw;
    background-color: rgba(63, 147, 151, 0.226);
    /* background-color: rgba(173, 194, 233, 0.329); */
    gap: 3rem;
    padding: 2rem;
    
  }

  .header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

    h1{
    text-align: center;
    color: rgba(11, 75, 78, 0.842);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 5px 5px rgba(63, 147, 151, 0.226);
    }

    header{
      margin: 20px;
      display: flex;
      justify-content: center;
    }


    #search-icon{
      color: darkcyan;
    
    }

    .search-animate{
      -webkit-animation-name: search-animate;
      animation-name: search-animate;
      animation-duration: 3s;
    }
  
    .search-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      border: 1px solid cadetblue;
      padding: 15px;
      height: 45px;
      border-radius: 40px;
      overflow: hidden;
    }

    input{
      font-size: 24px;
      font-weight: lighter;
    }

    #search{
      width: 100%;
      border: 0;
      border-radius: 40px;
      padding-left: 20px;
      outline: none;
      font-size: 24px;
      color:  rgb(9, 40, 43);
      font-size: 24px;
    }
    
    i{
      overflow: hidden;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      justify-content: center;
      border: none;
      padding: 30px;
      width: 50%;
      min-height: 240px;
      background-color: transparent;
      margin-bottom: 25px;
      text-align: center;
    }

    .card:hover{
      -webkit-animation-name:card-animate;
      animation-name: card-animate;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }

    h4{
      font-weight: lighter;
      padding-bottom: 50px;
      border-bottom: 1px dashed rgb(170, 165, 165);
      align-self: center;
  
    }

    .text {
      background-color: white;
      box-shadow: 5px 5px 6px rgba(11, 75, 78, 0.842);
      /* box-shadow: 2px 7px 7px rgb(170, 165, 165); */
      border-radius: 30px;
      font-size: 24px;
      color:  rgb(9, 40, 43);
      width: 100%;
      padding: 18px;
      display: flex;
      
      height: 220px;
    
    }

    .phony {
      background-color: white;
      /* box-shadow: 2px 7px 7px rgb(170, 165, 165); */
      box-shadow: 5px 5px 6px rgba(11, 75, 78, 0.842);
      width: 40%;
      padding: 20px;
      border-top:none;
     
    }

      .icon{
        color: cadetblue ; 
        overflow: hidden;
        background-color: transparent;
        border: 0;
        outline:none;
      }

      .phony-animate{
        animation-name: phony-animate;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
       
      }

  @-webkit-keyframes search-animate {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @keyframes search-animate {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  


  @-webkit-keyframes phony-animate {
    0%,
    to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
  @keyframes phony-animate {
    0%,
    to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
 
  @-webkit-keyframes card-animate {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @keyframes card-animate {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
 

  @media screen and (max-width: 2200px) {
    .card{
      width: 70%;
    }  
  }

  @media screen and (max-width: 1500px) {
    .card{
      width: 80%;
    }
   
  }

  @media screen and (max-width: 1300px) {
    .card{
      width: 100%;
    }
 
  }

  @media screen and (max-width: 1200px) {
    .card{
      width: 70%;
    }
  
    #card-holder {
      grid-template-columns: repeat(2, 1fr);
    }

       
  #search-icon{
    font-size: 24px;
   
  }
  }
  
  @media (max-width: 1000px) {
  
    .search-box{
      width: 100%;
    }
  
   
  }
  @media screen and (max-width: 900px) {
    .card{
      width: 100%;
    }

    h4{
    padding-bottom: 40px;

    }
  
  }


  @media (max-width: 700px) {
  html{
    font-size: 55%;
  }
  
    #card-holder {
      grid-template-columns: 1fr;
    }

    .card{
      width: 70%;
    }

    #search{
      font-size: 20px;
     
    }
  }
  
  @media screen and (max-width: 500px) {
   
  #search{
    font-size: 20px;
   
  }

  h1{
    
    font-size: 35px;
    
   }
  
    h4{
    padding-bottom: 40px;

    }
  
   .text{
     font-size: 20px;
   }

   .card{
    width: 100%;
  }
  }
  